html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background: #000000;
  position: relative;
  height: -moz-available;
  height: -webkit-fill-available;
  height: fill-available;
  overflow: hidden;
}

:root {
  --tg-theme-bg-color: #000000;
  --tg-theme-text-color: #ffffff;
  --tg-theme-hint-color: #929292;
  --tg-theme-link-color: #207ae4;
  --tg-theme-button-color: #5bc8fb;
  --tg-theme-button-text-color: #fffeec;
  --tg-theme-secondary-bg-color: #f3f2f9;

  --default-font: 'SF Pro Text', sans-serif;
}

* {
  user-select: none;
  -user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}
